<button class="btn btn-danger" style="margin-left: 50%;" (click)="goBack()">Back</button>

<div>
    <table class="table table-hover col-lg-10 container">
        <thead>
            <th>id</th>
            <th>Slot#</th>
            <th>Floor#</th>
            <th>Reg#</th>
            <th>Color</th>
            <th>Model</th>
            <th>Action</th>
        </thead>
        <tr *ngFor="let x of cars; let i = index">
            <td>i + 1</td>
            <td>{{x.slotNumber}} </td>
            <td>{{x.floorNumber}} </td>
            <td>{{x.carRegistrationNumber}} </td>
            <td>{{x.carColor}}</td>
            <td>{{x.carModel}}</td>
            <td><button class="btn btn-danger" (click)="onUnpark()">Action</button></td>
        </tr>
    </table>
    </div>
