<div>
    <table class="table table-hover col-lg-10 users">
        <thead>
            <th>id</th>
            <th>Slot#</th>
            <th>Floor#</th>
            <th>Reg#</th>
            <th>Color</th>
            <th>Model</th>
            <th>Action</th>
            <th></th>
    
        </thead>
        <tr *ngFor="let x of cars; let i = index">
            <td>i + 1</td>
            <td>{{x.slotNumber}} </td>
            <td>{{x.floorNumber}} </td>
            <td>{{x.carRegistrationNumber}} </td>
            <td>{{x.carColor}}</td>
            <td>{{x.carModel}}</td>
            <td><button class="btn btn-danger" (click)="onEdit(x.id)">Edit</button></td>
            <td><button class="btn btn-danger" (click)="onDelete(x.id)">Delete</button></td>
    
        </tr>
    </table>
    </div>