.btnConfig {
    margin-left: 5px;
    display: inline-block; 
}

.backBtnConfig {
    margin-top: 30px;
    top: 30px;
    right: 40px;
    position: absolute;
    display: inline-block;
}

.logoutBtnConfig {
    margin-top: 30px;
    top: 30px;
    right: 35px;
    position: absolute;
    display: inline-block;
}