<h1>Hello</h1>
<table class="table table-hover col-lg-10">
    <thead>
        <th>Id</th>
        <th>Image</th>
        <th>Name</th>
        <th>Club</th>
        <th>Rating</th>
        <th>Description</th>
        <th>Delete</th>

    </thead>
    <tr *ngFor="let x of products">
        <td>{{x.id}} </td>
        <td><img class="movie-image" src="http://localhost:4000/{{x.image}}"></td>
        <td>{{x.name}} </td>
        <td>{{x.club}} </td>
        <td>{{x.rating}} </td>
        <td>{{x.description}} </td>
        <td><button class="btn btn-danger" (click)="onDelete(x.id)">Delete</button></td>
        <td><button class="btn btn-danger" (click)="onEdit(x.id)">Edit</button></td>

    </tr>
</table>