<div class="container">
    <h1>Form</h1>
    <div class="form-group">
        <label> First Name </label>
        <input [(ngModel)]='firstName' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label> Last Name </label>
        <input [(ngModel)] = 'lastName' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label> E-Mail </label>
        <input [(ngModel)]='email' type="email" class="form-control">
    </div>
    <div class="form-group">
        <label> User Code </label>
        <input [(ngModel)]='userCode' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label> Password </label>
        <input [(ngModel)]='password' type="password" class="form-control">
    </div>
    <div class="form-group">
        <label> Date of Birth </label>
        <input [(ngModel)]='dob' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label> Gender </label>
        <input [(ngModel)]='gender' type="text" class="form-control">
    </div>
    <div class="form-group">
        <label> Role </label>
        <input [(ngModel)]='role' type="text" class="form-control">
    </div>
    <br>
    <div class="form-group">
        <button class="btn btn-success" (click)="onSave()">Save</button>
        <button class="btn btn-danger" style="margin-left: 5px;" (click)="onCancel()">Cancel</button>
    </div>
</div>